*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.navbar_btn button{
  background-color: #1D4ED8;
  width:90px;
  margin: 15px;
  padding: 10px;
  color: white;
  border:none;
  border-radius: 10px;
}
.navbar_btn{
  display: flex;
  justify-content: center;
  align-items: center;
}